* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
:root {
  --lightblack: #424242;
  --darkblack: #222222;
  --extralightgreen: #d8f8d1;
  --lightgreen: #a4cf9b;
  --darkgreen: #5a874f;
  --white: #f5f3ed;
}
body {
  background-color: var(--white);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Header Styling */
.header {
  display: flex;
  justify-content: center;
  background-color: var(--lightgreen);
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 2px 1px var(--darkgreen);
  font-size: 1.4rem;
}
.header a {
  text-decoration: none;
}
.title {
  display: flex;
  justify-content: center;
}
.title1 {
  color: var(--darkblack);
}
.title2 {
  color: var(--darkgreen);
}
/* Home Styling */
.home-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.home-container {
  display: flex;
  justify-content: center;
}
.home-description {
  margin-top: 30px;
  width: 40rem;
}
.intro-title {
  margin-bottom: 30px;
  color: var(--darkblack);
  font-size: 2rem;
}
.description-container {
  display: flex;
  justify-content: center;
  color: var(--darkblack);
  background-color: var(--lightgreen);
  border-radius: 25px;
  box-shadow: 0px 3px 0px 2px var(--darkgreen);
  margin-left: 30px;
  margin-right: 30px;
}
.description-text {
  padding: 20px;
  font-size: 1.2rem;
}
.description-text h1 {
  padding-bottom: 10px;
}
.description-text > p:not(:first-child) {
  margin-top: 20px;
}
/* Start Button */
.start {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.start a {
  text-decoration: none;
}
.start h3 {
  background-color: var(--lightgreen);
  width: fit-content;
  font-size: 1.7rem;
  padding: 5px;
  border-radius: 10px;
  color: var(--darkblack);
  box-shadow: 0px 1px 0px 1px var(--darkgreen);
  transition: ease all 0.3s;
}
.start h3:hover {
  background-color: var(--lightblack);
  color: var(--extralightgreen);
  cursor: pointer;
  box-shadow: none;
  box-shadow: 0px 1px 0px 1px var(--darkblack);
}
/* Budget Page Styling */
.budget-container {
  display: flex;
  justify-content: center;
}
.budget-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  background-color: var(--lightgreen);
  padding: 20px;
  width: 19rem;
  color: var(--darkblack);
  border-radius: 25px;
  box-shadow: 0px 3px 0px 2px var(--darkgreen);
}
.budget-form label {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.budget-form input {
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--darkgreen);
  background-color: var(--extralightgreen);
  height: 1.5rem;
  width: 80%;
  font-size: 1.2rem;
  transition: ease all 0.3s;
}
.budget-form input:hover {
  border: 2px solid var(--lightblack);
  background-color: var(--white);
}
.add-expense-field {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.add-expense-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgreen);
  border: 2px solid var(--darkgreen);
  border-radius: 25px;
  box-shadow: 0px 1px 0px 0px var(--darkgreen);
  color: var(--darkblack);
  padding: 5px;
  width: 10.5rem;
  font-size: 1.1rem;
  cursor: default;
}
.add-expense-container p {
  padding-left: 0.4rem;
}
#add-expense-btn {
  font-size: 15px;
  background-color: var(--extralightgreen);
  border: 2px solid var(--darkgreen);
  border-radius: 25px;
  color: var(--darkgreen);
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
  transition: ease all 0.3s;
  cursor: pointer;
}
#add-expense-btn:hover {
  background-color: var(--lightblack);
  border: 2px solid var(--darkblack);
  color: var(--extralightgreen);
}
.submit-field {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#submit-btn {
  font-size: 1.1rem;
  background-color: var(--lightgreen);
  border: 2px solid var(--darkgreen);
  border-radius: 10px;
  box-shadow: 0px 1px 0px 0px var(--darkgreen);
  color: var(--darkblack);
  padding: 7px;
  margin-bottom: 6rem;
  transition: ease all 0.3s;
  cursor: pointer;
}
#submit-btn:hover {
  background-color: var(--lightblack);
  box-shadow: 0px 2px 0px 0px var(--darkblack);
  color: var(--extralightgreen);
  border: 2px solid var(--lightblack);
}
/* Expense Styling */
.expense-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.expense-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
  background-color: var(--lightgreen);
  padding: 20px;
  width: 19rem;
  color: var(--darkblack);
  border-radius: 25px;
  box-shadow: 0px 3px 0px 2px var(--darkgreen);
}
.expense-form label {
  margin-bottom: 5px;
  font-size: 1.3rem;
}
.expense-amount-label {
  margin-top: 10px;
}
.expense-form input {
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--darkgreen);
  background-color: var(--extralightgreen);
  height: 1.5rem;
  width: 80%;
  font-size: 1.2rem;
  transition: ease all 0.3s;
}
.expense-form input:hover {
  border: 2px solid var(--lightblack);
  background-color: var(--white);
}
/* Expense Graph Styling */
.graph-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.graph-container {
  display: flex;
  justify-content: center;
}
.graph {
  width: 30rem;
}
@media screen and (max-width: 490px) {
  .graph {
    width: 20rem;
  }
}
/* Footer Styling */
.footer {
  background-color: var(--lightgreen);
  position: fixed;
  align-items: center;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px -1px 2px 1px var(--darkgreen);
}
#back-to-top {
  position: fixed;
  bottom: 4.5rem;
  right: 1rem;
  background-color: var(--lightgreen);
  box-shadow: 0px 1px 0px 1px var(--darkgreen);
  color: var(--lightblack);
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
}
#back-to-top:hover {
  background-color: var(--lightblack);
  box-shadow: 0px 1px 0px 1px var(--darkblack);
  color: var(--extralightgreen);
}
.footer-container {
  display: flex;
  justify-content: center;
}
.footer-text {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: var(--darkblack);
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 6rem;
  align-items: center;
}
.footer-links a {
  color: var(--lightblack);
  background-color: var(--lightgreen);
  padding: 5px;
  /* border-radius: 25px; */
  box-shadow: 0px 1px 0px 1px var(--darkgreen);
  transition: ease all 0.3s;
}
#github-btn {
  border-radius: 25px;
}
#linkedin-btn {
  border-radius: 25px;
}
.footer a:hover {
  color: var(--extralightgreen);
  background-color: var(--lightblack);
  box-shadow: 0px 1px 0px 1px var(--darkblack);
}
